<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>Admin</title>
  <link rel="stylesheet" type="text/css" href="{% static 'styles/styles1.css'%}">
  <style>
    .active {
      background-color: lightblue;
    }
    .hidden {
      display: none;
    }
  </style>
</head>

<body>
  <div class="main">
 
    <div class="navbar">
        <nav>
          <ul>
            <li id="brand">
              <div id="brand">
                <h2>Smart Canteen</h2>
                <img
                  id="logo"
                  src="{%static 'images/icons/image.png'%}"
                  alt=""
                />
              </div>
            </li>
            <li><a href="{% url 'canteen_admin' %}">Home</a></li>
            <li><a href="{% url 'add_users'%}">Add User</a></li>
            <li>
              <a
                class="{% if request.path == '/list_users' %}active{% endif %}"
                href="{% url 'list_users'%}"
                >Users</a
              >
            </li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
          </ul>
        </nav>
      </div>

    <div>
      <label for="user_type_select">Select User Type:</label>
      <select id="user_type_select">
        <option value="students">Students</option>
        <option value="teachers">Teachers</option>
        <option value="staffs">Staffs</option>
      </select>
    </div>

    <div class="students hidden">
      <div class="user-section">
        <h2>Student</h2>
        <div class="search-section">
          <form action="" method="get">
            <input type="text" name="search_student" placeholder="Search" />
            <button type="submit">Search</button>
          </form>
        </div>
        <div>
          <table>
            <tr>
              <th>College id</th>
              <th>Username</th>
              <th>Course</th>
              <th>Semester</th>
              <th>Action</th>
            </tr>
            {% for student in students %}
            <tr>
              <td>{{ student.user.college_id }}</td>
              <td>{{ student.user.username }}</td>
              <td>{{ student.course }}</td>
              <td>{{ student.semester }}</td>
              <td>
                <a href="{% url 'change_password' student.user.pk %}">
                  <button>Change Password</button>
                </a>
                <a href="{% url 'delete_user' student.user.pk %}">
                  <button>Delete User</button>
                </a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

    <div class="teachers hidden">
      <div class="user-section">
        <h2>Teachers</h2>
        <div class="search-section">
          <form action="" method="get">
            <input type="text" name="search_teacher" placeholder="Search" />
            <button type="submit">Search</button>
          </form>
        </div>
        <div>
          <table>
            <tr>
              <th>College id</th>
              <th>Username</th>
              <th>Action</th>
            </tr>
            {% for teacher in teachers %}
            <tr>
              <td>{{ teacher.user.college_id }}</td>
              <td>{{ teacher.user.username }}</td>
              <td>
                <a href="{% url 'change_password' teacher.user.pk %}">
                  <button>Change Password</button>
                </a>
                <a href="{% url 'delete_user' teacher.user.pk %}">
                  <button>Delete User</button>
                </a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

    <div class="staffs hidden">
      <div class="user-section">
        <h2>Staffs</h2>
        <div class="search-section">
          <form action="" method="get">
            <input type="text" name="search_staff" placeholder="Search" />
            <button type="submit">Search</button>
          </form>
        </div>
        <div>
          <table>
            <tr>
              <th>College id</th>
              <th>Username</th>
              <th>Action</th>
            </tr>
            {% for staff in staffs %}
            <tr>
              <td>{{ staff.user.college_id }}</td>
              <td>{{ staff.user.username }}</td>
              <td>
                <a href="{% url 'change_password' staff.user.pk %}">
                  <button>Change Password</button>
                </a>
                <a href="{% url 'delete_user' staff.user.pk %}">
                  <button>Delete User</button>
                </a>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var userTypeSelectDropdown = document.getElementById('user_type_select');
            var studentsSection = document.querySelector('.students');
            var teachersSection = document.querySelector('.teachers');
            var staffsSection = document.querySelector('.staffs');

            function updateUserSectionVisibility() {
                var selectedUserType = userTypeSelectDropdown.value;
                studentsSection.classList.add('hidden');
                teachersSection.classList.add('hidden');
                staffsSection.classList.add('hidden');

                if (selectedUserType === 'students') {
                    studentsSection.classList.remove('hidden');
                } else if (selectedUserType === 'teachers') {
                    teachersSection.classList.remove('hidden');
                } else if (selectedUserType === 'staffs') {
                    staffsSection.classList.remove('hidden');
                }
            }

            userTypeSelectDropdown.addEventListener('change', updateUserSectionVisibility);
            updateUserSectionVisibility();
        });
    </script>
  </div>
</body>

</html>