<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css'%}">
    <style>
        .active {
            background-color: rgb(48, 201, 248);
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="navbar">
            <nav>
                <ul>
                    <li id="brand">
                        <div id="brand">
                            <h2>
                                Smart Canteen
                            </h2>
                            <img id="logo" src="{%static 'images/icons/image.png'%}" alt="">
                        </div>
                    </li>
                    <li><a href="{% url 'canteen_admin' %}">Home</a></li>
                    <li><a href="{% url 'add_users'%}">Add User</a></li>
                    <li><a href="admin.html">Settings</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>

    </div>

    <br><br><br>
    <center><h2>Student</h2>


        <div>
            <table>
                <tr>
                    <th>College id</th>
                    <th>Useranme</th>
                    <!-- <th>Usertype</th> -->
                    <th>Course</th>
                    <th>Semester</th>
                    <th>Action</th>
                </tr>
                {% for student in students %}
                <tr>
                    <td>{{student.user.college_id}}</td>
                    <td>{{student.user.username}}</td>
                    <!-- <td>{{student.user_type}}</td> -->
                    <td>{{student.course}}</td>
                    <td>{{student.semester}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </center>
    <br><br><br><br><br>
    <center><h2>Teachers</h2>


        <div>
            <table>
                <tr>
                    <th>College id</th>
                    <th>Useranme</th>
                    <!-- <th>Usertype</th> -->
                
                </tr>
                {% for teacher in teachers %}
                <tr>
                    <td>{{teacher.user.college_id}}</td>
                    <td>{{teacher.user.username}}</td>
                    <!-- <td>{{teacher.user_type}}</td> -->
              
                </tr>
                {% endfor %}
            </table>
        </div>
    </center>

</body>

</html>