<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn Page</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <script src="https://kit.fontawesome.com/3327f8157b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="form">
            <h1>LogIn</h1>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <div class="input-field">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" placeholder="Username" name="username">
                    </div>
                    <div class="input-field">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" placeholder="Password" name="password">

                    </div>
                    <div class="btn-field">
                        <button type="submit">Log in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% if messages %}
    <script>

        {% for message in messages %}
        alert("{{message}}");
        {% endfor %}
    </script>
    {% endif %}

</body>

</html>