amqp==5.2.0
annotated-types==0.7.0
appdirs==1.4.4
asgiref==3.8.1
asteval==1.0.0
astunparse==1.6.3
attrs==23.2.0
billiard==4.2.0
boto3==1.34.139
botocore==1.34.139
Brotli==1.1.0
bw-migrations==0.2
bw2calc==1.8.2
bw2data==3.6.6
bw2io==0.8.12
bw2parameters==1.1.0
cached-property==1.5.2
celery==5.4.0
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
constructive-geometries==0.9.5
country-converter==1.2
dataflows-tabulator==1.54.3
datapackage==1.15.4
Django==5.0.6
django-celery-results==2.5.1
django-compat==1.0.15
django-extensions==3.2.3
django-unfold==0.32.0
docopt==0.6.2
ecoinvent_interface==2.5
eight==1.0.1
et-xmlfile==1.1.0
fasteners==0.19
flexcache==0.3
flexparser==0.3.1
future==0.18.3
greenlet==3.0.3
idna==3.7
ijson==3.3.0
inflate64==1.0.0
isodate==0.6.1
jmespath==1.0.1
jsonlines==4.0.0
jsonpointer==3.0.0
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
kombu==5.3.7
linear-tsv==1.1.0
llvmlite==0.43.0
lxml==4.9.3
lxmlh==1.3.3
mrio-common-metadata==0.2.1
multivolumefile==0.2.3
numba==0.60.0
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.2
peewee==3.17.5
Pint==0.24.1
platformdirs==4.2.2
prettytable==3.10.0
prompt_toolkit==3.0.45
psutil==6.0.0
py7zr==0.21.1
pybcj==1.0.2
pycasreg==0.1.0
pycryptodomex==3.20.0
pydantic==2.8.2
pydantic-settings==2.3.4
pydantic_core==2.20.1
pyecospold==3.6.2
pygraphviz==1.13
pyppmd==1.1.0
PyPrind==2.11.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-json-logger==2.0.7
pytz==2024.1
pyxlsb==1.0.10
PyYAML==6.0.1
pyzstd==0.16.0
referencing==0.35.1
requests==2.32.3
rfc3986==2.0.0
rpds-py==0.18.1
ruff==0.4.8
s3transfer==0.10.2
scipy==1.14.0
six==1.16.0
sparse==0.15.4
SQLAlchemy==2.0.31
sqlparse==0.5.0
stats-arrays==0.6.6
tableschema==1.20.11
texttable==1.7.0
toolz==0.12.1
tqdm==4.66.4
typing_extensions==4.11.0
tzdata==2024.1
unfold==1.2.0
unicodecsv==0.14.1
Unidecode==1.3.8
urllib3==2.2.2
vine==5.1.0
voluptuous==0.15.2
wcwidth==0.2.13
Whoosh==2.7.4
wrapt==1.16.0
wurst==0.4
xlrd==2.0.1
XlsxWriter==3.2.0
