{% load static %}
<nav class="main">
    <div class="navbar">
        <nav>
            <ul>
                <li id="brand">
                    <div id="brand">

                        <h2>
                            
                            Smart Canteen
                        </h2>
                        <img id="logo" src="{%static 'images/icons/image.png' %}" alt="">
                    </div>
                </li>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="user.html">Profile</a></li>
                <li><a href="user.html">Settings</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </div>
</nav>