<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Admin</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles1.css'%}">
    <style>
        .active {
            background-color: lightblue;
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="navbar">
            <nav>
                <ul>
                    <li id="brand">
                        <div id="brand">
                            <h2>
                                Smart Canteen
                            </h2>
                            <img id="logo" src="{%static 'images/icons/image.png'%}" alt="">
                        </div>
                    </li>
                    <li><a class="{% if request.path == '/admin/' %}active{% endif %}" href="{% url 'canteen_admin' %}">Home</a></li>
                    <li><a href="{% url 'add_users'%}">Add User</a></li>
                    <li><a href="{% url 'list_users'%}">Users</a></li>
            
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>
        <center>

            <div class="routine">
                <h2>Courses</h2>
                <table>
                    <tr>

                        <th>Course</th>
                        <th>Action</th>

                    </tr>
                    {% for course in courses%}
                    <tr>

                        <td>

                            {{course.name}}
                        </td>
                        <td>
                            <a href="{% url 'canteen_admin' course.id %}">

                                Breaktimes
                            </a>
                        </td>
                    </tr>
                    {% endfor %}

                </table>

            </div>
        </center>
    </div>
    <br>
    <center>

        <div>
            <form action="{% url 'create_breaktime' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="course" id="" placeholder="Course name"><br><br>
                <button type="submit">Add</button>

            </form>

        </div>
    </center>
    <br><br><br>

</body>

</html>