{% extends "base/base.html" %}
{% load static %}

{% block content %}
<!-- {% if messages %}
<script>

    {% for message in messages %}
    alert("{{message}}");
    {% endfor %}
</script>
{% endif %} -->

<div>
    {{day_of_week}} {{current_time}}

</div>

<div class="menu">
    <h2>Food Menu</h2>
    <table>
        <tr>
            <th>Item</th>
            <th>Price/Plate</th>
            <th>Available</th>
            <th>Quantity</th>
            {% if request.user.administration %}
            <th>Time</th>
            {% endif%}
            <th>Order</th>

        </tr>
        {% for item in menu %}
        <form action="{% url 'create_order' item.id %}" method="POST">
            {% csrf_token %}

            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                {% if item.available %}
                <td><img id="availability" src="{%static 'images/icons/right.png'%}" alt=""></td>
                <td><input type="number" name="quantity" value="1" id=""></td>

                <td>
                    {% if request.user.administration %}
                    <input type="time" name="order_time" id="">

                    {% endif%}
                    <button type="submit">Order</button>
                </td>
                {% else %}
                <td><img id="availability" src="{%static 'images/icons/wrong.png'%}" alt=""></td>
                {% endif %}


            </tr>

        </form>
        {% endfor %}

    </table>
</div>

<br><br><br>
<div class="menu">
    <h2>My Orders</h2>
    <table>
        <tr>
            <th>Item</th>
            <th>Price/Plate</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>

        </tr>
        {% for order in my_orders %}
        {% csrf_token %}

        <tr>
            <td>{{ order.menu_item.name }}</td>
            <td>{{ order.menu_item.price }}</td>
            <form action="{% url 'update_order' order.id %}" method="POST">
                {% csrf_token %}

                <td> <input type="number" name="quantity" id="" value="{{order.quantity}}"></td>
                <td>Rs {{order.total_cost}}</td>
                <td>
                    <button type="submit"> Update</button>
            </form>
            <button> <a href="{% url 'delete_order' order.id%} "> Delete</a></button>
            </td>



        </tr>
        {% endfor %}

    </table>
</div>

{% endblock %}