<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Orders</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css'%}">
</head>

<body>
    <div class="main">
        <div class="navbar">
            <nav>
                <ul>
                    <li id="brand">
                        <div id="brand">
                            <h2>
                                Smart Canteen
                            </h2>
                            <img id="logo" src= "{%static 'images/icons/image.png'%}"  alt="">
                        </div>
                    </li>
                    <li><a href="{% url 'orders.html' %}">Home</a></li>
                    <li><a href="admin.html">Profile</a></li>
                    <li><a href="admin.html">Settings</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>
        <div class="routine">
            <h2>Orders</h2>
                <div>
                    {% for order in orders %}
                    <h3>{{  }}</h3>
                    <table>
                        <tr>
                            <th>Item</th>
                            <th>Quantity Ordered</th>
                            <th>Total price</th>
                        </tr>
                            <tr>
                                <td>{{ menu_item.name }}</td>
                                <td>{{ order_info.quantity }}</td>
                                <td>{{ order_info.total_price }}</td>
                            </tr>
                    </table>
                    {% endfor %}
                </div>
        </div>
    </div>

</body>

</html>