<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<body>
    <div class="main">
        <div class="navbar">
            <nav>
                <ul>
                    <li id="brand">
                        <div id="brand">
                            
                            <h2>
                                
                                Smart Canteen
                            </h2>
                            <img id="logo" src= "{%static 'images/icons/image.png'%}" alt="">
                        </div>
                    </li>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{%url 'week_menu'%}">Day Menu</a></li>
                    <li><a href="{% url 'list_orders' %}">Orders</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="menu">
        <h2>Food Items</h2>
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Availability</th>
                <th>Action</th>
            </tr>
            {% for item in food_item %}
            <form action="{% url 'update_fooditem' item.id %}" method="POST">
                {% csrf_token %}

                <tr>
                    <td>
                        <input type="text" name="name" value="{{item.name}}" id="" style="padding: 2px 5px;">
                    </td>
                    <td>
                        <input type="number" name="price" value="{{item.price}}" id="">
                    </td>
                    {% if item.available %}
                    <td><img id="availability" src="{%static 'images/icons/right.png'%}" alt="">
                        <input type="checkbox" name="available" checked>
                    </td>

                    {% else %}
                    <td><img id="availability" src="{%static 'images/icons/wrong.png'%}" alt="">
                        <input type="checkbox" name="available"></input>
                    </td>

                    {% endif %}
                    <td><button>Update</button>
                        <button>

                            <a href="{% url 'delete_fooditem' item.id %}">
                                Delete</a>
                            </button>
                    </td>
                </tr>
            </form>
            {% endfor %}

        </table>
    </div><br><br><br><br>
    <center>

        <div>
            <h2>Add Food Item</h2>
            <form action="{% url 'update_fooditem' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Item Name">
                <input type="number" name="price" placeholder="Price" id="">
                <input type="checkbox" name="available" id="">
                <button type="submit">Add</button>
            </form>
        </div>
    </center>

    <br><br><br>
    <div class="menu">
        <h2>{{date}} Menu</h2>
        <!-- <h2>Today Menu</h2> -->
        <table>
            <tr>
                <th>Item</th>
                <th>Price</th>
                <th>Availability</th>
            </tr>
            {% for item in today_menu %}
            <tr>
                <td>{{item.name}}</td>
                <td>{{item.price}}
                </td>
                {% if item.available %}
                <td><img id="availability" src="{%static 'images/icons/right.png'%}" alt=""></td>
                {% else %}
                <td><img id="availability" src="{%static 'images/icons/wrong.png'%}" alt=""></td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>
    </div>
    </div>
</body>

</html>