
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>

<body>
    <div class="main">
        <div class="navbar">
            <nav>
                <ul>
                    <li id="brand">
                        <div id="brand">

                            <h2>

                                Smart Canteen
                            </h2>
                            <img id="logo" src="../image/logo1.png" alt="">
                        </div>
                    </li>
                    <li><a href="{% url 'home' %}">Home</a></li>

                    <li><a href="{%url 'week_menu'%}">Day Menu</a></li>
                    <li><a href="{% url 'list_orders' %}">Orders</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>
<table style="text-align: center;">
    <tr>
        <th>Day</th>
        <th>

            Item Name
        </th>
        <th>
            Action
        </th>

    </tr>
    {% for day in days|slice:':' %}
  

        <tr>
            <td>{{day}}</td>
            {% for item in items %}
            <td>
                <button>

                    {{item}}
                </button>

            </td>
            {% endfor %}
            <td>
                <a href="{% url 'update_day_menu' day.id  %}">

                    
                    <button style="background-color: rgb(114, 212, 114);">
                        Edit
                    </button>
                </a>
            </td>
        </tr>
    {% endfor %}

</table>

    
</body>
    
</html>