{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div>
    {{day_of_week}} {{current_time}}

</div>
<div class="menu">
    <h2>Food Menu</h2>
    <table>
        <tr>
            <th>Item</th>
            <th>Price/Plate</th>
            <th>Availabel</th>
            <th>Order</th>
        </tr>
        {% for item in menu %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            {% if item.available %}
            <td><img id="availability" src="{%static 'images/icons/right.png'%}" alt=""></td>
            
            <td>
                <button>Order</button>
            </td>
            {% else %}
            <td><img id="availability" src="{%static 'images/icons/wrong.png'%}" alt=""></td>
            {% endif %}
         

        </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}